:root {
    --gjgjgjgjgj: darkkhaki;
}

body
{
    background-color: magenta;
}

#the-header-at-the-very-top
{
                                                 text-align:
                                                                     center





            ;
            TeXt-DeCoRaTiOn: UNDERlinE     ;
            BackGrouNd:                    red;
}

/**
 This is Added here becaude the blink tag doesnt work in my wbe BRowser
 WHY Doesnt it work????????????
  It       's the best tag Ever   !.
 */
blink {

-webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}


@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

/**  apply MY FAV font !! :D */
/*
 * If da user have no comic sans than they have a different awsome font applied *?/
 * */
*{
    font-family: "Comic Sans", "Comic Sans MS",cursive;

}
#footerText {FONT-Family:Sans-Serif;FONT-SIZE:12px;}

.SHOCKING_TEXT_OMG {




            /** This ofn for text for THAT IS EXTRA SHOCKING!!!! even blink<> tag is NOT enoguh!
            * /*/




            FONT-SIZE: XXX-LARGE;
            Color: Yellow;
            BACKGROUND: LIME;
}

/** i ohnestly doint know why you cant speciy multiple text decoration for a elemtent in css so uhhhhhhhh*/
.SHOCKING_TEXT_p1

    {
text-decoration :underLine;
}

.SHOCKING_TEXT_p2 { TExt-DEcoRAtiON:bold;}
.SHOCKING_TEXT_p3    { TExt-decoration: overline dashed red;}

.SHOCKING_TEXT_p4 {
    text-decoration: italic ;}






    .MonoSpaceTextThingy {  font-family: MonoSpace;}


    #Socials { 
    
    background-Color: RED ;}


#welcome-to-my-website

{
BackGround-COLOR: khaki;
}

.JAVASCRIPT_SUCKS /* IT REALLY DOSE */ { color   : YELLOW ; }

a:hover {
    font-size: 8em;
}


fieldset legend {
    color: ORANGe;
    box-shadow: black 5px 5px 5px;
    background-color: BlACK;
    
}

/* Among us*/
/* Slash asteriksc comments suck i always forgor to shift8?*/
#MOLTONY_WEBSITE_navi-gation {
    background-CoLoR :darkred;
    color: WHITE              ;
}

#MOLTONY_WEBSITE_navi-gation a {
    COLOR: LIGHTblue;
}



  #CURLsudoBASHmareuQ {   BackGRound-COlor: Black !important;}



                                                             .releiF   {        
                                                foNt-weIght: boLd;coLor: liMe;

}#cookie-box{
         position: ABSOLUTE;
         TOp: 50%
         ;left: 50%;
         TransfOrm:TRAnslate(-50%,   -50%);
         width: 85%;
         height:  85%;
         background-coloR: MagenTa;
         border-radius: 6.9px;
        border: 4px solid black;
}
.bus {color: red;}
.chineseTea /* heva you ever played touhou eosd? i did (I CANT BEAT IT)*/
{background: url("./ds-craft/dirt.png");
}

#INFORMATOIOIN_containter {
        width: 69%;
        border:thick SoliD GREEN;
        background: url("./Backgroud_animatoin/ANIMAT~1.GIF" )
    }

    #INFORMATOIOIN_ermm
    { text-align: center;}

    * {font-family:'Times New Roman', Times, serif}
    *
    *
    *
#giant_fricking_text_rn_fr
{
   font-size: 10em; 
}
.RED_CROSS
{
    color: red;
}

.GREEN_CHECKMARK                {
    color: LIME;
}

.hell_yeah {
    animation: seizure 0.5s infinite;
    /*AND MAKE IT FRICKING G I I I I I I A A A A A AN N N N N N T T T T T T *!!!!!/*/
    FONT-SIZE: 10em;
}

@keyframes seizure {
    0% {
        color:RED;
        background-color: fuchsia;
    }
    10%              {


coloR: ORANGE;
background-color:lightcoral;
    }
    20% {
        color: LIME;background-color:lightsalmon;
    }
    30% {
        color: purple;
        background-color: goldenrod;
    }
    40% {
        color: SkyBlUe;
        background-color:black;
    }
    50% {
        color: Yellow;
        background-color: white;
    }
    60% {
        color: YellowGREEN;
        background-color:red
    }
    70% {
        color: navajowhite;
        background-color:pink;
    }
    80% {
        color: brown;background-color:teal
    }90%{color:blanchedalmond       
    
    
    ;background-color:darkgrey}100%{color:     hotpink;background-color:var(--gjgjgjgjgj)}


}