body,html{background-color:black}
*{
    font-family: 'Times New Roman', Times, serif;color:
    white;
}
#the_heading_of_the_web_page{
text-Align: center ;
}#wheelie{
text-align:
center
;}
code {                      font-family: MonoSpace; background-color:  #101010; padding: 10px; margin-left:
1em;}
a{
       color: pINK}
       .bigasstext {
      font-size:
      100vh;
     font-weight:  Bold;
text-align:     center
;
}.InLiNe_C0d3z{
       font-family: Monospace ;background-color: #101010;padding:  2px;}
       .g
       {
           padding-left: 5px;padding-rIght:  5px;
        }
